body {

	margin: 0px;
	overflow: hidden;

}

#article {

	background-image: url("res/background.png");

}

canvas {

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

}
